[window]
title = "Terminal"
startup_mode = "Maximized"
dynamic_title = false

[font]
size = 15
offset = { x = 0, y = -2}
glyph_offset = { x = 0, y = 0}

bold = { family = "Menlo", style = "Bold" }
# MesloLGS NF
    [font.normal]
    family = "Roboto Mono"
    style = "Regular"

# [colors]
# # cursor = { text = "CellBackground", cursor = "#ebdab5" }

    # [colors.primary]
    # background = "#202020"
    # foreground = "#f9d9b4"

[env]
    TERM = "alacritty"

[scrolling]
history = 10000

[keyboard]
bindings = [
{ key= "Left", mods= "Alt", chars= "\u001BB" } # Skip word left
,{ key= "Right", mods= "Alt", chars= "\u001BF" } # Skip word right
,{ key= "Left", mods= "Command", chars= "\u001bOH", mode= "AppCursor" } # Home
,{ key= "Right", mods= "Command", chars= "\u001bOF", mode= "AppCursor" } # End
,{ key= "Back", mods= "Command", chars= "\u0015" } # Delete line
,{ key= "Back", mods= "Alt", chars= "\u001b\u007f" } # Delete word
,{ key= "c", mods= "Command", action= "Copy" } # Copy to Clipboard
# ,{ key = "J", mods = "Command", chars = "\u000A" },
]


[general]
import = [
  "/opt/homebrew/lib/node_modules/alacritty-themes/themes/Gruvbox-Dark.toml"
]
working_directory = "/Users/john/"

[mouse]
hide_when_typing = true

[colors]
    [colors.primary]
        background = '0x1d2021'
        foreground = '0xd5c4a1'

    # [colors.cursor]
    #     text   = '0x1d2021'
    #     cursor = '0xd5c4a1'

    [colors.normal]
        black   = '0x1d2021'
        red     = '0xfb4934'
        green   = '0xb8bb26'
        yellow  = '0xfabd2f'
        blue    = '0x83a598'
        magenta = '0xd3869b'
        cyan    = '0x8ec07c'
        white   = '0xd5c4a1'

    [colors.bright]
        black   = '0x665c54'
        red     = '0xfe8019'
        green   = '0x3c3836'
        yellow  = '0x504945'
        blue    = '0xbdae93'
        magenta = '0xebdbb2'
        cyan    = '0xd65d0e'
        white   = '0xfbf1c7'

#     # draw_bold_text_with_bright_colors = false
